html {
    height: 100%;
}
body{
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, #9993da, #89a1e4, #7aaeea, #70b9ec, #6dc4eb);
    overflow:hidden;
    padding: 0;
}
.cloud{
    display: block;
    position: absolute;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-name: sliding;
    transition: transform 0.5s;
}
.cloud_container{
    overflow:hidden;
    height: 30px;
}
.background{
    display: none;
    position: relative;
    width: 60vw;
    height: 34vw;
    margin-left:auto;
    margin-right: auto;
    background-color: azure;
    margin-top: 5%;
    border-radius: 10px;
    padding-top: 3vw;
    padding-right:2.5vw;
    padding-left: 2vw;
    box-shadow: 0px 0px 30px #ffffff;
}
.cloud-pop{
    cursor:  pointer;
}
.pop-up-window{
    position: relative;
    display:flex;
    width: 58vw;
    margin-left:auto;
    margin-right: auto;
    height: 30vw;
    flex-direction: row;
    justify-content: center;
    flex-basis: 55vw;
    gap: 2vw;
}
.appearing{
    transform: scale(1);
    animation: 0.3s 1 appear;
}
@keyframes appear{
    from {
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
#bg{
}
.dissapearing{
    opacity: 1;
    transform: scale(1);
    animation: 0.3s 1 disappear;
}
@keyframes disappear{
    from {
        opacity: 1;
        transform: scale(1);
    }
    to{
        opacity: 0;
        transform: scale(0);
    }
}

.appearing.bg{
    opacity: 0;
	transition: all 0.3s ease-out;
}

h2{
    font-size: 2vw;
}
p{
    font-size: 1.3vw;
}
.pop-up-window section{
    flex-grow:2;
}
.pop-up-window img{
    flex-grow:1;
}
#experiment_cloud{
    overflow: hidden;
    top: 50%;
}

.cloud:hover{
    transform: scale(1.2);

}

.cloud1{
    margin-top: 30%;
    margin-left: -100px;
}
.cross{
    cursor: pointer;
    position: absolute;
    right: 1vw;
    top:1vw;
    height: 30px;
}
@keyframes sliding {
    from{
        left: -30%;
    }
    to {
        left: 100%;
    }
}